{% extends 'base.jinja' %}
{% block content %}

    <!-- Test comment for home -->
    <h1>Pet Listings</h1>

    <ul>
      {% for pet in pets %}
        <img src="{{ pet.photo_url }}" alt="NO IMG" class="img-thumbnail" width="200" height="200">
        <li><a href="/{{ pet.id }}">{{ pet.name }} {% if pet.available %} <b>is available!</b> {% endif %}</a></li>
        {% else %} {# This adds a h1 tag if there are no pets #}
        <h1> No pets! </h1>
      {% endfor %}

    </ul>


    <a href="/add" class="btn btn-primary">
        Add a pet
    </a>


{% endblock %}


