<!DOCTYPE html>
<html lang="en">
<head>

  <!-- Test comment for base -->
  <title>{% block title %} Pet {% endblock %}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link
      href="https://bootswatch.com/5/minty/bootstrap.css"
      rel="stylesheet">
  <link
      href="https://fonts.googleapis.com/css2?family=Gochi+Hand&display=swap"
      rel="stylesheet">

</head>
<body>

{# {% include 'nav.jinja' %} #}

{% for msg in get_flashed_messages() %}

  {# Little bug, if you dismiss one alert, they *all* get dismissed #}
  <div class="alert alert-dismissible alert-info">
    <a href="{{ current_page }}">
      <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
    </a>
      {{ msg }}
  </div>
{% endfor %}

<div class="container-fluid mb-4">
  <div class="row">
    <div class="mx-auto my-auto">
      <main class="col w-100">
        {% block content %}{% endblock %}
      </main>
    </div>
  </div>
</html>